.navvy{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
.navbar-si{
  position: absolute;
    right: 95px;
}

.navbar-su{
  position: absolute;
    right: 25px;
}

.navbar-cr{
  
  position: absolute;
    right: 40px;
    top: 80px;
}

.logo{
  font-weight: bold;
  font-size: 1.5rem;
  width: 30%;
}

.logo{
  padding: 3%;
}

*{
  text-decoration: none;
  color: black;
}

